.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loader-dot {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: #3498db;
    border-radius: 50%;
    animation: bounce 1.5s infinite;
  }
  
  .loader-dot:nth-child(2) {
    animation-delay: 0.3s;
  }
  
  .loader-dot:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  